<nav
  class="flex w-full items-center justify-between bg-indigo-100 p-4 dark:bg-gray-800">
  <div class="text-black dark:text-slate-100">
    <p class="text-lg font-semibold">Angular Test</p>
    <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
      by Fernando Cellini
    </p>
  </div>
  <div class="flex items-center gap-2">
    <button
      routerLink="/"
      class="flex items-center justify-center rounded-full p-2 transition-transform hover:scale-125">
      <span
        class="material-icons-outlined text-3xl text-gray-800 dark:text-gray-200">
        home
      </span>
    </button>
    <app-theme-toggle />
  </div>
</nav>
